<table>
  <thead>
    <th> Complete </th>
    <th> Question 1 </th>
    <th> Question 2 </th>
    <th> Question 3 </th>
    <th> Question 4 </th>
  </thead>
  <tbody>
    <tr>
      <td> <%= "#{ @results[:complete] }/#{ @results[:total]}" %></td>
      <td> <%= @results[:quest1_agg] %></td>
      <td> <%= @results[:quest2_agg] %></td>
      <td> <%= @results[:quest3_agg] %></td>
      <td> <%= @results[:quest4_agg] %></td>
    </tr>
  </tbody>
  <% @results[:quest5_ary].each do |comment| %>
    <%= "#{ comment[0] }: #{ comment[1] }" %>
  <% end %>
</table>
