<h2>Student survey completion statistics <br>
<div class="small"><%= "#{@event.pathway} #{@event.activity}, #{ @event.date.strftime('%A, %B %d')}" %></div class="small">
  </h2>

<% if @survey_data[:complete] > 0 %>
  <div id="graph-selector" class="text-center btn-group" data-toggle="buttons">
    <label class="graph-selector-button btn btn-primary active">
      <input type="checkbox" checked autocomplete="off" > All
    </label>
    <label class="graph-selector-button btn btn-primary">
      <input type="checkbox" checked autocomplete="off"> Gender
    </label>
    <label class="graph-selector-button btn btn-primary">
      <input type="checkbox" checked autocomplete="off"> Ethnicity
    </label>
    <label class="graph-selector-button btn btn-primary">
      <input type="checkbox" checked autocomplete="off"> Grade
    </label>
    <label class="graph-selector-button btn btn-primary">
      <input type="checkbox" checked autocomplete="off"> Pathway
    </label>
  </div>
<% else %>
  <h4>No students have completed this survey yet.</h4>
<% end %>

<div class="data-table">
  <table>
    <thead>
      <tr>
        <th class="text-left col-md-6">
          <h4><%= @data[:count].round %> participants </h4>
        </th>
        <th class="col-md-3 text-center">
          <h4>yes / no</h4>
        </th>
        <th class="col-md-3 text-center">
          <h4> unanswered </h4>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-left">
        <td class="col-md-8">
          <h5><%= "Q1: #{@student_questions[0]}" %></h5>
        </td>
        <td class="col-md-2 text-center">
          <h5><%= "#{@data[:question1]} / #{@data[:q1no]}" %> </h5>
        </td>
        <td class="col-md-2 text-center">
          <h5> <%="#{@data[:count].round - (@data[:question1] + @data[:q1no])}"%></h5>
        </td>
      </tr>
      <tr class="text-left">
        <td class="col-md-8">
          <h5><%= "Q2: #{@student_questions[1]}" %></h5>
        </td>
        <td class="col-md-2 text-center">
          <h5><%= "#{@data[:question2]} / #{@data[:q2no]}" %> </h5>
        </td>
        <td class="col-md-2 text-center">
          <h5> <%="#{@data[:count].round - (@data[:question2] + @data[:q2no])}"%></h5>
        </td>
      </tr>
      <tr class="text-left">
        <td class="col-md-8">
          <h5><%= "Q3: #{@student_questions[2]}" %></h5>
        </td>
        <td class="col-md-2 text-center">
          <h5><%= "#{@data[:question3]} / #{@data[:q3no]}" %> </h5>
        </td>
        <td class="col-md-2 text-center">
          <h5> <%="#{@data[:count].round - (@data[:question3] + @data[:q3no])}"%></h5>
        </td>
      </tr>
      <tr class="text-left">
        <td class="col-md-8">
          <h5><%= "Q4: #{@student_questions[3]}" %></h5>
        </td>
        <td class="col-md-2 text-center">
          <h5><%= "#{@data[:question4]} / #{@data[:q4no]}" %> </h5>
        </td>
        <td class="col-md-2 text-center">
          <h5> <%="#{@data[:count].round - (@data[:question4] + @data[:q4no])}"%></h5>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<% if @survey_data[:complete] > 0 %>
  <div class='student-graph'>
    <dl><dt class="subtitle"><%= @data[:count].round %> participants </dt>
      <dd class= "percentage percentage-<%=@data[:q1percentage]%>">
        <span class="text">Question 1:</span></dd>
      <dd class= "percentage percentage-<%=@data[:q2percentage]%>">
        <span class="text">Question 2:</span></dd>
      <dd class= "percentage percentage-<%=@data[:q3percentage]%>">
        <span class="text">Question 3:</span></dd>
      <dd class= "percentage percentage-<%=@data[:q4percentage]%>">
        <span class="text">Question 4:</span></dd>
      </dl>
  </div>
<% end %>
