<table>
  <thead>
    <th> <%= @event.pathway  %></th>
    <th> <%= @event.activity  %></th>
    <th> <%= @event.school  %></th>
    <th> <%= @event.grade  %></th>
    <th> <%= @provider.name  %></th>
  </thead>
</table>
<table>
  <tbody>
    <th> Student Survey Results </th>
    <tr>
      <td> Complete Surveys: </td>
      <% complete = @results[:complete] %>
      <td> <%= "#{ complete } / #{ @results[:total]}" %></td>
    </tr>
    <tr>
      <td> <%= @student_questions[0] %> </td>
      <td> <%= "#{ @results[:quest1_agg] } / #{ complete } " %></td>
    </tr>
    <tr>
      <td> <%= @student_questions[1] %> </td>
      <td> <%= "#{ @results[:quest2_agg] } / #{ complete } " %></td>
    </tr>
        <tr>
      <td> <%= @student_questions[2] %> </td>
      <td> <%= "#{ @results[:quest3_agg] } / #{ complete } " %></td>
    </tr>
        <tr>
      <td> <%= @student_questions[3] %> </td>
      <td> <%= "#{ @results[:quest4_agg] } / #{ complete } " %></td>
    </tr>
  </tbody>
  <% @results[:quest5_ary].each do |comment| %>
    <%= "#{ comment[0] }: #{ comment[1] }" %>
  <% end %>
</table>
