<h2>Student survey completion statistics <br>
<div class="small"><%= "#{@event.pathway} #{@event.activity}, #{ @event.date.strftime('%A, %B %d')}" %></div class="small">
  </h2>
<table>
  <thead>
    <tr>
      <th class="text-left col-md-12">
        <h4>Student Question</h4>
      </th>
      <th class="text-center col-md-2">
        <h4>yes<br>responses</h4>
      </th>
      <th class="text-center col-md-2">
        <h4>no<br>responses</h4>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-left">
      <td class="col-md-12">
        <h5><%= @student_questions[0] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:quest1_agg] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:complete] - @survey_data[:quest1_agg] %></h5>
      </td>
    </tr>
    <tr class="text-left">
      <td class="col-md-12">
        <h5><%= @student_questions[1] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:quest2_agg] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:complete] - @survey_data[:quest2_agg] %></h5>
      </td>
    </tr>
    <tr class="text-left">
      <td class="col-md-12">
        <h5><%= @student_questions[2] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:quest3_agg] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:complete] - @survey_data[:quest3_agg] %></h5>
      </td>
    </tr>
    <tr class="text-left">
      <td class="col-md-12">
        <h5><%= @student_questions[3] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:quest4_agg] %></h5>
      </td>
      <td class="text-center col-md-2">
        <h5><%= @survey_data[:complete] - @survey_data[:quest4_agg] %></h5>
      </td>
    </tr>
  </tbody>
</table>
