<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>

<% if current_user.sign_in_count < 2 %>
  <div class="alert alert-danger">
    <%= link_to "Change your password", edit_user_registration_path %>
  </div>
<% end %>
<br>

<br>
<div class="student-lookup-return">
  <% if @student %>
    <table class="table build-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Grade</th>
          <th>Pathway</th>
          <th>School</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @student.name %></td>
          <td><%= @student.email %></td>
          <td><%= @student.grade %></td>
          <td><%= @student.pathway %></td>
          <td><%= @student.school %></td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<div class="menu-wrapper">
  <div class="pull-left col-4">
    <%= link_to "Create an event", new_event_path, class: "btn btn-primary" %>
    <%= link_to "Add a partner", new_provider_path, class: "btn btn-success text-center" %>
    <%= link_to "Charts", chart_path(grade: current_user.grade, pathway: current_user.pathway, school: current_user.school), class: "btn btn-warning text-center" %>
  </div>
  <br>
</div>
<% if @upcoming_events.length > 0 %>
<br>
  <h3>Upcoming Events</h3>
  <%= render 'events', events: @upcoming_events %>
<% end %>
<% if @past_events.length > 0 %>
  <h3>Past Events</h3>
  <table class="table table-striped text-center pre-scrollable">
    <th>
      <td></td>
      <td></td>
      <td><strong>Pathway</strong></td>
      <td><strong>Activity</strong></td>
      <td><strong>Partner</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Date</strong></td>
    </th>
    <% @past_events.each do |event| %>
      <% provider = Provider.find(event.provider_id)  %>
      <% survey = Survey.find_by(user_id: current_user.id, event_id: event.id) %>
      <tr>
        <td class="col-md-1">
          <% if survey.complete %>
            <%= link_to "edit your evaluation".html_safe, edit_survey_path(survey.id), class: "survey-button btn-block btn-xs btn-info text-center" %>
          <% else %>
            <%= link_to "submit<br> teacher evaluation".html_safe, edit_survey_path(survey.id), class: "survey-button btn-block btn-xs btn-success text-center" %>
          <% end %>
        </td>
        <td class="col-md-1">
          <%= link_to "student evaluations<br> #{Survey.where(survey_type: 'student', event_id: event.id, complete: true).count} / #{Survey.where(survey_type: 'student', event_id: event.id).count} complete".html_safe, event_survey_index_path(event.id), class: "teacher-survey-button btn-xs btn-warning text-center btn-block" %>
        </td>
        <td class="col-md-1">
          <%= link_to "partner evaluation<br> #{Survey.find_by(survey_type: "partner", event_id: event.id).complete? ? 'complete' : 'incomplete'}".html_safe, provider_survey_path(provider_id: event.provider_id, id: Survey.find_by(survey_type: "partner", event_id: event.id).id), class: "teacher-survey-button btn-xs text-center btn-block #{Survey.find_by(survey_type: "partner", event_id: event.id).complete? ? 'btn-info' : 'btn-danger'}" %>
        </td>
        <td><%= event.pathway %></td>
        <td><%= event.activity %></td>
        <td><%= link_to_if(provider.url != "N/A", provider.organization, provider.url, target: :_blank) %></td>
        <td> <%= event.location %></td>
        <td><%= event.date.strftime("%A, %B %d") %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<%= form_tag teacher_path(current_user), method: "get" do %>
  <%= label :student_id, "Student Lookup:"  %>
    <%= text_field_tag :student_id, nil, placeholder: "student id#"%>
    <%= submit_tag "Find Student", class: "btn btn-warning"%>
<% end %>

