<table class="table">
  <%= form_tag(chart_index_path, method: :get) do %>
    <tr>
      <td class='text-center'>
        <strong>Chart Type:</strong>
        <select id="grade-chart-selector" name="chart_type">
          <% @chart_types.each do |chart_type| %>
            <option <%= "selected='selected'" if @chart_type == chart_type %> value=<%= chart_type.gsub(" ", "_") %>><%= chart_type %></option>
          <% end %>
        </select>
      </td>
      <td class='text-center'>
        <strong>School:</strong>
        <select id="school-chart-selector" name="school">
          <% @schools.each do |school| %>
            <option <%= "selected='selected'" if @school == school %> value=<%= school.gsub(" ", "_") %>><%= school %></option>
          <% end %>
        </select>
      </td>
      <td class='text-center'>
        <strong>Grade:</strong>
        <select id="grade-chart-selector" name="grade">
          <% @grades.each do |grade| %>
            <option <%= "selected='selected'" if @grade == grade %> value=<%= grade.to_s %>><%= grade %></option>
          <% end %>
        </select>
      </td>
      <td class='text-center'>
        <strong>Pathway:</strong>
        <select id="pathway-chart-selector" name="pathway">
          <% @pathways.each do |pathway| %>
            <% if pathway == "all" %>
              <option <%= "selected='selected'" if @pathway == pathway %> value="">All</option>
            <% else %>
              <option <%= "selected='selected'" if @pathway == pathway %> value=<%= pathway.gsub(" ", "_") %>><%= pathway %></option>
            <% end %>
          <% end %>
        </select>
      </td>
      <td>
        <input class="btn btn-warning text-center" type="submit" value="Refresh Chart">
      </td>
      <td>
        <%= button_tag "Print Chart", class: "btn btn-info text-center", id: "print-chart-button" %>
        </div>
      </td>

    <% end %>
  </tr>
</table>

<br>
<div class="print-wrapper">
  <table id="q-graph">
    <caption><%= @title %></caption>
    <thead>
        <% @chart_data.each do |activity| %>
      <tr>
          <th class="label-header">
            <p class="chart-labels">class="section-label" scope="row"><%= activity[0] %></p>
          </th>
          <th></th>
          <th></th>
          <th></th>
      </tr>
        <% end %>
    </thead>
    <tbody>
      <% @chart_data.each do |activity| %>
        <tr class="qtr" id=<%= activity[1][:id] %>>
          <% nine, ten, eleven, twelve = activity[1][:ninth], activity[1][:tenth], activity[1][:eleventh], activity[1][:twelfth] %>
          <td class="ninth bar" style="height: <%= (nine/20.to_f)*100 %>%;"><p>9th<br><%= nine.to_i %></p></td>
          <td class="tenth bar" style="height: <%= (ten/20.to_f)*100 %>%;"><p>10th<br><%= ten.to_i %></p></td>
          <td class="eleventh bar" style="height: <%= (eleven/20.to_f)*100 %>%;"><p>11th<br><%= eleven.to_i %></p></td>
          <td class="twelfth bar" style="height: <%= (twelve/20.to_f)*100 %>%;"><p>12th<br><%= twelve.to_i %></p></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script type="text/javascript">
    $('#q-graph').DataTable({
      dom: '<"top"i>rt<"bottom"flp><"clear">',
      buttons: [
          'print',
          'copyHtml5',
          'csvHtml5',
      ]
    });
  </script>
  <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
  <div id="ticks">
    <div class="tick" style="height: 25%;"><p>20</p></div>
    <div class="tick" style="height: 25%;"><p>15</p></div>
    <div class="tick" style="height: 25%;"><p>10</p></div>
    <div class="tick" style="height: 25%;"><p>5</p></div>
  </div>
</div>
