<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<div class="user_message">
  <%= link_to "Change your password", edit_user_registration_path %>
</div>

<div class="creation_buttons">
  <%= link_to "Add a teacher", new_teacher_path, class: "btn btn-success text-center" %>
  <%= link_to "Add students", new_student_path, class: "btn btn-success text-center" %>
  <%= link_to "Add a partner", new_provider_path, class: "btn btn-success text-center" %>
  <%= link_to "Add a pathway", new_pathway_path, class: "btn btn-success text-center" %>
  <%= link_to "Charts", chart_index_path, class: "btn btn-warning text-center" %>
</div>

<% if session[:unsaved_students] && !session[:unsaved_students].empty? %>
  <h3>Unsaved Entries</h3>
  <div id="unsaved_container">
    <table class="table table-striped text-center pre-scrollable" id="unsaved_table">
      <thead class="table_head">
        <tr>
          <td>Student ID</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Reason</td>
        </tr>
      </thead>
      <tbody>
      <% session[:unsaved_students].each do |student| %>
        <tr>
          <td><%= student[:id] %></td>
          <td><%= student[:first_name] %></td>
          <td><%= student[:last_name] %></td>
          <td><%= student[:reason] %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<br>

<% if @upcoming_events.length > 0 %>
  <br>
  <h3>Upcoming Events</h3>
  <div class="upcoming_events_wrapper">
    <table class="table table-striped text-center pre-scrollable">
      <tr class=>
        <td></td>
        <td><strong>Teacher</strong></td>
        <td><strong>Pathway</strong></td>
        <td><strong>Students</strong></td>
        <td><strong>Activity</strong></td>
        <td><strong>Partner</strong></td>
        <td><strong>Date</strong></td>
      </tr>
      <% @upcoming_events.each do |event| %>
        <% provider = Provider.find(event.provider_id) %>
        <% teacher = User.find(event.teacher_id) %>
        <tr>
          <td>
            <%= link_to "details".html_safe, event_path(event.id), class: "survey-button btn-xs btn-info text-center" %>
          </td>
          <td><%= teacher.name %></td>
          <td><%= event.pathway %></td>
          <td><%= Survey.where(event_id: event.id).length-1 %></td>
          <td><%= event.activity %></td>
          <td><%= link_to_if(provider.url != "N/A", provider.organization, provider.url, target: :_blank) %></td>
          <td><%= event.date.strftime("%A, %B %d") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
<% if @past_events.length > 0 %>
  <h3>Past Events</h3>
  <div class="past_events_wrapper">
    <table class="table table-striped text-center pre-scrollable">
      <th>
        <td><strong>Teacher</strong></td>
        <td><strong>Pathway</strong></td>
        <td><strong>Students</strong></td>
        <td><strong>Activity</strong></td>
        <td><strong>Partner</strong></td>
        <td><strong>Location</strong></td>
        <td><strong>Date</strong></td>
      </th>
      <% @past_events.each do |event| %>
        <% provider = Provider.find(event.provider_id)  %>
        <% teacher = User.find(event.teacher_id) %>
        <% survey = Survey.where(user_id: current_user.id, event_id: event.id).first %>
        <tr>
          <td>
            <%= link_to "review data", event_survey_index_path(event.id), class: "teacher-survey-button btn-xs btn-warning text-center" %>
          </td>
          <td><%= teacher.name %></td>
          <td><%= event.pathway %></td>
          <td><%= Survey.where(event_id: event.id).length-1 %></td>
          <td><%= event.activity %></td>
          <td><%= link_to_if(provider.url != "N/A", provider.organization, provider.url, target: :_blank) %></td>
          <td> <%= event.location %></td>
          <td><%= event.date.strftime("%A, %B %d") %></td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>


