<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<%= link_to "Change your password", edit_user_registration_path %>
<br>
<div class="creation_buttons">
  <%= link_to "Add a teacher", new_teacher_path, class: "btn btn-success text-center" %>
  <%= link_to "Add students", new_student_path, class: "btn btn-success text-center" %>
  <%= link_to "Add a partner", new_provider_path, class: "btn btn-success text-center" %>
</div>

<span class="add-students-field hidden">
  <%# form_tag(users_path, multipart: true, class: 'form-inline pull-left', role: 'form') do %>
    <p>add students here</p>
    <div class="form-group">
      <%# label_tag "csv_student_file", "Select batch file" %>
      <%# file_field_tag "csv_student_file", class: "form-control" %>
    </div>
    <%# button_tag "upload student batch file", class: "btn btn-primary" %>
  <%# end %>
</span>

<div class="menu-wrapper">
  <% if @upcoming_events.length > 0 %>
  <br>
    <h3>Upcoming Events</h3>
    <table class="table table-striped text-center pre-scrollable">
      <th>
        <td><strong>Teacher</strong></td>
        <td><strong>Pathway</strong></td>
        <td><strong>Students</strong></td>
        <td><strong>Activity</strong></td>
        <td><strong>Partner</strong></td>
        <td><strong>Location</strong></td>
        <td><strong>Date</strong></td>
      </th>
      <% @upcoming_events.each do |event| %>
        <% provider = Provider.find(event.provider_id) %>
        <% teacher = User.find(event.teacher_id) %>
        <tr>
          <td>
            <%= link_to "details".html_safe, edit_event_path(event.id), class: "survey-button btn-xs btn-info text-center" %>
          </td>
          <td><%= teacher.name %></td>
          <td><%= event.pathway %></td>
          <td><%= Survey.where(event_id: event.id).length-1 %></td>
          <td><%= event.activity %></td>
          <td><%= link_to_if(provider.url != "N/A", provider.organization, provider.url, target: :_blank) %></td>
          <td> <%= event.location %></td>
          <td><%= event.date.strftime("%A, %B %d") %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
  <% if @past_events.length > 0 %>
    <h3>Past Events</h3>
    <table class="table table-striped text-center pre-scrollable">
      <th>
        <td><strong>Teacher</strong></td>
        <td><strong>Pathway</strong></td>
        <td><strong>Students</strong></td>
        <td><strong>Activity</strong></td>
        <td><strong>Partner</strong></td>
        <td><strong>Location</strong></td>
        <td><strong>Date</strong></td>
      </th>
      <% @past_events.each do |event| %>
        <% provider = Provider.find(event.provider_id)  %>
        <% teacher = User.find(event.teacher_id) %>
        <% survey = Survey.where(user_id: current_user.id, event_id: event.id).first %>
        <tr>
          <td>
            <%= link_to "review data", event_survey_index_path(event.id), class: "teacher-survey-button btn-xs btn-warning text-center" %>
          </td>
          <td><%= teacher.name %></td>
          <td><%= event.pathway %></td>
          <td><%= Survey.where(event_id: event.id).length-1 %></td>
          <td><%= event.activity %></td>
          <td><%= link_to_if(provider.url != "N/A", provider.organization, provider.url, target: :_blank) %></td>
          <td> <%= event.location %></td>
          <td><%= event.date.strftime("%A, %B %d") %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>


