<% if @upcoming_events.length > 0 %>
  <h3>Upcoming Events</h3>
  <table class="table table-striped text-center">
    <th>
      <td><strong>Pathway</strong></td>
      <td><strong>Activity</strong></td>
      <td><strong>Provider</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Time</strong></td>
    </th>
    <% @upcoming_events.each do |event| %>
      <% provider = Provider.find(event.provider_id) %>
      <tr>
        <td>
          <%= link_to "edit this event", edit_event_path(event.id), class: "survey-button btn-xs btn-info text-center" %>
        </td>
        <td><%= event.pathway %></td>
        <td><%= event.activity %></td>
        <td><%= link_to_if(provider.url != "N/A", provider.name, provider.url, target: :_blank) %></td>
        <td> <%= event.location %></td>
        <td><%= event.date.strftime("%A, %B %d") %></td>
        <td><%= event.start_time.strftime("%-I:%M %p") %> - <%= event.end_time.strftime("%-I:%M %p") %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% if @past_events.length > 0 %>
  <h3>Past Events</h3>
  <table class="table table-striped text-center">
    <th>
      <td><strong>Pathway</strong></td>
      <td><strong>Activity</strong></td>
      <td><strong>Provider</strong></td>
      <td><strong>Location</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Time</strong></td>
    </th>
    <% @past_events.each do |event| %>
      <% provider = Provider.find(event.provider_id)  %>
      <tr>
        <td></td>
        <td><%= event.pathway %></td>
        <td><%= event.activity %></td>
        <td><%= link_to_if(provider.url != "N/A", provider.name, provider.url, target: :_blank) %></td>
        <td> <%= event.location %></td>
        <td><%= event.date.strftime("%A, %B %d") %></td>
        <td><%= event.start_time.strftime("%-I:%M %p") %> - <%= event.end_time.strftime("%-I:%M %p") %></td>
      </tr>
    <% end %>
  </table>
<% end %>

