<%= link_to "Back to Teacher Portal", teacher_path(1), class: "btn btn-success pull-right" %>
<%= link_to "Review an Event", event_index_path(1), class: "btn btn-info pull-right" %>
<h1>Create Event</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<div id="event-creation-form">
  <div class="event-data pull-right">
    <%= form_tag "/event", remote: true, method: "post" do %>
      <%= label :teacher_name, "Teacher Name:" %>
      <%= select_tag :teacher_id, options_for_select(@teachers) %>
      <br>
      <%= label :school, "School:"  %>
      <%= select_tag :school, options_for_select(@schools, current_user.school) %>
      <br>
      <%= label :provider_id, "Provider:" %>
      <%= select_tag :provider_id, options_for_select(@partners) %>
      <br>
      <%= label :pathway, "Pathway:" %>
      <%= select_tag :pathway, options_for_select(@pathways, current_user.pathway)%>
      <br>
      <%= label :activity, "Activity:" %>
      <%= select_tag :activity, options_for_select(@activities) %>
      <br>
      <%= label :location, "Location:"  %>   <%= text_field_tag :location, current_user.school %>
      <br>
      <%= radio_button_tag :grade, "9", current_user.grade == 9 %>
      <%= radio_button_tag :grade, "10", current_user.grade == 10 %>
      <%= label :grade_10, "10th grade" %> &emsp;
      <%= radio_button_tag :grade, "11", current_user.grade == 11 %>
      <%= label :grade_11, "11th grade" %> &emsp;
      <%= radio_button_tag :grade, "12", current_user.grade == 12 %>
      <%= label :grade_12, "12th grade" %>
      <br>
      <div class="bg-info pre-scrollable" id="suggested-students_wrapper">
        <p>Select students for this event.</p>
        <div id="visible-student-button">
          <%= button_tag "add all students in the #{current_user.pathway} path from #{current_user.school}", type: "button", id: "add-visible", class: "btn-xs btn-warning" %>
        </div>
        <table class="table table-striped build-table">
          <thead>
            <tr class="text-center">
              <th></th>
              <th>Name</th>
              <th>
                <%= label :select_by_grade, "Select by grade" %>
                <%= select_tag :select_by_grade, options_for_select(@grades, "All"), id: "select_by_grade" %>
              </th>
              <th>
                <%= label :select_by_pathway, "Select by pathway" %>
                <%= select_tag :select_by_pathway, options_for_select(@pathways+["All"], current_user.pathway), id: "select_by_pathway" %>
              </th>
              <th>
                <%= label :select_by_school, "Select by school" %>
                <%= select_tag :select_by_school, options_for_select(@schools+["All"], current_user.school), id: "select_by_school" %>
              </th>
            </tr>
          </thead>
          <tbody id="filtered-students">
          <% @students.each do |student| %>
            <tr class="unselected-student">
              <td> <input type="checkbox" name="students[]" class="check-box" value=<%= student.id %>> </td>
              <td> <%= student.name %> </td>
              <td> <%= student.grade %> </td>
              <td> <%= student.pathway %> </td>
              <td> <%= student.school %> </td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <%= label_tag :date, "Date:", class: "create-date" %>
      <%= date_field_tag :date, Time.now.strftime("%Y-%m-%d") %>
      <br>
      <%= submit_tag "Create event" %>
           <% end %>
  </div>
</div>
