<h1>Create Event</h1>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<div id="event-creation-form">
  <div class="event-data">
    <%= form_tag "/event", remote: true, method: "post" do %>
      <%= label :teacher_name, "Teacher Name:" %>
      <%= select_tag :teacher_id, options_for_select(@teachers) %>
      <br>
      <%= label :teacher_name, "Grade:" %>
      <%= select_tag :grade, options_for_select(@grades) %>
      <br>
      <%= label :school, "School:"  %>
      <%= select_tag :school, options_for_select([current_user.school]) %>
      <br>
      <%= label :pathway, "Pathway:" %>
      <%= select_tag :pathway, options_for_select(@pathways) %>
      <br>
      <%= label :provider_id, "Partner:" %>
      <%= select_tag :provider_id, options_for_select(@partners) %>
      <br>
      <%= label :activity, "Activity:" %>
      <%= select_tag :activity, options_for_select(@activities) %>
      <br>
      <%= label :location, "Location:"  %>   <%= text_field_tag :location, current_user.school %>
      <br>
      <div  class="bg-info pre-scrollable" id="suggested-students_wrapper">
        <p>Select students for this event.</p>
        <div id="visible-student-button">
          <%= button_tag "add all", type: "button", id: "add-visible", class: "btn-xs btn-warning" %>
        </div>
        <table class="table table-striped build-table" id="selected_students_table">
          <thead>
            <tr class="text-center">
              <th></th>
              <th>Name:</th>
              <th>Grade:</th>
              <th>Pathway</th>
            </tr>
          </thead>
          <tbody id="filtered-students">
            <% @students.each do |student| %>
              <tr class="unselected-student">
                <td> <input type="checkbox" name="students[]" class="check-box" value=<%= student.id %>> </td>
                <td> <%= student.name %> </td>
                <td> <%= student.grade %> </td>
                <td> <%= student.pathway %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <script type="text/javascript">
          $('#selected_students_table').DataTable()
        </script>
      </div>
      <%= label_tag :date, "Date:", class: "create-date" %>
      <%= date_field_tag :date, Time.now.strftime("%Y-%m-%d") %>
      <br>
      <%= submit_tag "Create event" %>
    <% end %>
  </div>
</div>
