<nav>
  <h1 style="color:black;">
    <img src="/apple-icon-60x60.png">
    Welcome to the WCCUSD Work Based Learning APP
  </h1>
</nav>

<div class="jumbotron">
  <div style="color:red;" class="bad-authentication-flash">
    <% if !flash[:alert].blank? %>
      <% if flash[:alert][/The email address and password you entered do not match our records/] %>
        <div class="flashNotice col last">
              <%= t('devise.failure.not_found_in_database', resource_name: "#{params[:user][:email]}").html_safe %>
          </div>
      <% else %>
          <div class="flashNotice col last"><%= flash[:alert]%></div>
      <% end %>
    <% end %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions pull-right">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
  <p> Students, to log in use <b>[your first name].[your last name]@wccusd.org</b> as your email and your <b>student ID</b> as your password.</p>

<%= render "devise/shared/links" %>
