<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info" %>
<% end %>
<%= form_tag "/provider", remote: true, method: "post" do %>
  <div class="pull-left col-4">
    <%= label :contact, "Name of contact:"  %>
          <%= text_field_tag :contact, nil, size: 50, required: true %>
    <br>
    <%= label :name, "Organization Name:"  %>
          <%= text_field_tag :name, nil, size: 50 %>
    <br>
    <%= label :email, "email:"  %>
          <%= text_field_tag :email, nil, size: 50, required: true %>
    <br>
    <%= label :location, "Location:"  %>
          <%= text_field_tag :location, current_user.school, size: 50 %>
    <br>
    <%= label :url, "Organization website:"  %>
          <%= text_field_tag :url, nil, size: 50, placeholder: "optional"%>
    <br>
    <%= label :phone, "Phone:"  %>
          <%= text_field_tag :phone, nil, size: 50, placeholder: "optional"%>
    <br>
    <%= submit_tag "Create provider" %>
  </div>
<% end %>
